@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #e5e5f7;
	background-image:  radial-gradient(#e650dd 0.5px, transparent 0.5px), radial-gradient(#e650dd 0.5px, #e5e5f7 0.5px);
	background-size: 20px 20px;
	background-position: 0 0,10px 10px;
	display: flex;
	min-height: 100vh;
}

.form{
	background-color: #fff;
	/*margin: auto;*/
	/*margin-top: 50px;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	/*margin: auto;*/
	/*padding: auto;*/
	
	width: 90%;
	max-width: 400px;
	/*padding: 4.5em 3em;*/
	padding: 60px 50px;
	border-radius: 10px;
	box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
	/*text-align: center;*/
}

.form__title{
	font-size: 1.5rem;
	margin-bottom: .5em;
	text-align: center;
}

.form__container{
	margin-top: 3em;
	display: grid;
	gap: 2em;
}

.form__group{
	position: relative;
	--color: #5757577e;
}

.form__input{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background: none;
	color: #706c6c;
	font-size: 1rem;
	padding: .6em .3em;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color);
}
/*
.form__input:not(:placeholder-shown){
	color: #4d4646;
}*/

/*
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
	transform: translateY(-12px) scale(.7);
	transform-origin: left top;
	color: #3866f2;
}*/

.form__label{
	color: var(--color);
	/*cursor: pointer;*/
	/*position: absolute;*/
	top: 0;
	left: 5px;
	transform: translateY(10px);
	transition: transform .5s, color .3s;
}

.label{
	color: #706c6c;
	margin-left: 0px;
	padding-left: 0px;
	border: 0px;
	text-align: left;
	
}

.ciudad{
	color: #706c6c;
}

.form__radioButtom{
	
}

.idiomas{
	color: #706c6c;
}

.form__submit{
	background-color: #3866f2;
	color: #fff;
	font-weight: 300;
	font-size: 1rem;
	padding: .8em 0;
	border: none;
	border-radius: .5em;
	font-family: 'Roboto', sans-serif;
}

.form__line{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 1px;
	background-color: #3866f2;
	transform: scale(0);
	transform: left bottom;
	transition: transform .4s;
}

/*
.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
	transform: scale(1);	
}*/

@media (max-width:425px){
	
	.form__tittle{
		font-size: 1.8rem;
	}
	
}